body {
	background-color: #EEEEEE;
}

.search-container {

}

.search-header {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
  padding: 10px;
  background-color: #74C16D;
	display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  justify-content: space-around;
  align-items: start;
	gap: 20px;
}

.search-form-row {

}

.search-input {
  width: 220px;
  border: none;
  border-radius: 16px;
  padding: 8px;
	font-size: 18px;
}

.search-input:focus {
	outline: none;
}

.search-button {
  background-color: #DCF2D1;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  padding: 8px;
	font-size: 18px;
}

.search-results-container {
	padding: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.products-title {
	font-size: 30px;
}

.search-result-item {
	width: 50%;
	height: 260px;
	background-color: #DCF2D1;
  border-radius: 16px;
  padding: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row {
  display: flex;
}

.search-result-image {
	width: 200px;
	height: 200px;
	border-radius: 16px;
}

.search-result-info {
	padding-left: 10px;
}

.search-result-item-price {
	font-size: 28px;
}

.search-result-item-description {
	font-size: 18px;
	color: #646464;
	width: 100%;
	height: 175px;
}

.flex-space-between {
	justify-content: space-between;
}

.mark {
	background-color: #BDE3B3;
	width: fit-content;
  border: none;
  border-radius: 16px;
  padding: 8px;
	font-size: 18px;
}

.search-result-item-details-button {
	background-color: #BDE3B3;
	width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  padding: 8px;
	font-size: 18px;
}

.create-product-button {
	position: fixed;
	top: 90%;
	left: 80%;
	background-color: #FFFA88;
	width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  padding: 8px;
	font-size: 24px;
}

